<mat-card class="max-w-md w-full rounded-lg shadow-xl overflow-hidden">
  <mat-card-header class="py-4 px-4">
    <mat-card-title class="text-lg font-semibold text-gray-800">{{ data.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="px-4 pb-4">
    <p class="text-gray-700 leading-relaxed">{{ data.content }}</p>
  </mat-card-content>
  <mat-card-actions align="end" class="bg-gray-100 py-4 px-6">
    <button mat-button class="px-4 py-2" (click)="onNoClick()">
      Cancel
    </button>
    <button
      mat-button
      color="warn"
      class="px-4 py-2 ml-2"
      (click)="onYesClick()"
      cdkFocusInitial
    >
      Delete
    </button>
  </mat-card-actions>
</mat-card>