.books-content {
  max-height: calc(100svh - 128px);
  overflow-y: auto;
}

table {
  width: 100%;
}

th.mat-header-cell,
td.mat-cell {
  text-align: left;
}

.mat-column {
  &-cover { width: 5%; }
  &-title { width: 30%; }
  &-author { width: 25%; }
  &-year { width: 10%; }
  &-actions { width: 20%; }
}

.searching {
  transition: all 0.3s ease-in-out;
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}