/* You can add global styles to this file, and also import other style files */

@tailwind components;
@tailwind utilities;
@import './app/shared/styles/variables';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* Classes for truncating text that does not fit */
.table-truncate {
  &__wr {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Override disabled input text color */
.mdc-text-field--outlined.mdc-text-field--disabled .mdc-text-field__input {
  color: var(--mdc-dialog-supporting-text-color)!important;
}